{
  "parser": "@babel/eslint-parser",
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "chrome": true
  },
  "rules": {
    "no-console": "off",
    "no-multiple-empty-lines": "off"
  }
}
